$container-width: 1230px;
$body-font: 14px;

html {
	width:100%;
	height: 100%;
	font-size: 100.01%;

	@if $responsive == true {
		@include desktop {
			font-size: 15px;
		 }

		@include laptop {
			font-size: 14px;
		}

		@include netbook {
			font-size: 13px;
		}

		@include tablets {
			font-size: 12px;
		}

		@include phones {
			// font-size: 15px;
		}
	}
}

body {
	width:100%;
	height: 100%;
	margin: 0;
	font-family: $main-font-regular;
	font-weight: 400;
	color: $main-fonts-color;
	background: $main-background;
	-webkit-font-smoothing: antialiased;
}

.wrapper {
	display: grid;
	grid-template: repeat(12, 1fr) / repeat(12, 1fr);
	height: 100vh;
	
	@include phones {
		height: 100%;
		overflow-x: hidden;
	}
}

.container {
	width: 100%;
	height: 100%;
	max-width: $container-width;
	margin: 0 auto;
	padding: 0 15px;
	position: relative;
}
header {
	grid-column: 4 / -1; 
	grid-row: 1 / 2;
}

aside {
	grid-column: 4 / 1; 
	grid-row: 1 / -1;
}
main {
	grid-column: 4 / -1; 
	grid-row: 2 / -1;
	height: 100%;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

ul {
	padding: 0;
	margin: 0;

	li {
		padding: 0;
		margin: 0;
		list-style: none outside none;
	}
}

figure {
	margin: 0;
}
svg {
	height: 100%;
}
img {
	max-width: 100%;
	max-height: 100%;
}

p {
	padding: 0;
	margin: 0;
}

footer {
	position: relative;
}

* {
	box-sizing: border-box;
}
